xsd_Examples1/g2sDeviceConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Ethan Tower (Seminole Gaming) -->
<xs:schema xmlns:g2s="http://www.gamingstandards.com/g2s/schemas/v1.0.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gamingstandards.com/g2s/schemas/v1.0.3" elementFormDefault="qualified" attributeFormDefault="qualified" version="2006-01-14 Unreleased">
	<xs:include schemaLocation="g2sIncludeConfig.xsd"/>
	<!--Class-specific Simple Data Types.-->
	<xs:simpleType name="t_deviceChangeExceptions">
		<xs:annotation>
			<xs:documentation>Device Change Exception Codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="g2s:t_exceptionCode"/>
	</xs:simpleType>
	<xs:simpleType name="t_deviceCmdTypes">
		<xs:annotation>
			<xs:documentation>Device Command Types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="G2S_addDevice"/>
			<xs:enumeration value="G2S_deleteDevice"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Class-specific Attribute Groups.-->
	<xs:attributeGroup name="p_deviceOperation">
		<xs:annotation>
			<xs:documentation>Device Operation Parameters.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="deviceClass" type="g2s:t_deviceClass" use="required"/>
		<xs:attribute name="deviceId" type="g2s:t_deviceId" use="optional" default="0"/>
		<xs:attribute name="deviceCmd" type="g2s:t_deviceCmdTypes" use="required"/>
	</xs:attributeGroup>
	<!--Class-specific Complex Data Types.-->
	<xs:complexType name="c_deviceOperationItem">
		<xs:annotation>
			<xs:documentation>Device Change Item Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_baseCommand">
				<xs:attributeGroup ref="g2s:p_deviceOperation"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_deviceOperationList">
		<xs:annotation>
			<xs:documentation>Device Change List Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_baseCommand">
				<xs:sequence>
					<xs:element ref="g2s:deviceOperation" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_setDeviceChange">
		<xs:annotation>
			<xs:documentation>Device Change Command Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_baseCommand">
				<xs:sequence>
					<xs:element ref="g2s:deviceOperationList"/>
					<xs:element ref="g2s:authorizeList" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="configurationId" type="g2s:t_configurationId" use="required"/>
				<xs:attributeGroup ref="g2s:p_configChange"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_deviceChangeTrans">
		<xs:annotation>
			<xs:documentation>Device Change Transaction Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_baseTransaction">
				<xs:attribute name="configurationId" type="g2s:t_configurationId" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_deviceChangeStatus">
		<xs:annotation>
			<xs:documentation>Device Change Status Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_deviceChangeTrans">
				<xs:sequence>
					<xs:element ref="g2s:authorizeStatusList" minOccurs="0"/>
				</xs:sequence>
				<xs:attributeGroup ref="g2s:p_configChangeStatus"/>
				<xs:attribute name="changeException" type="g2s:t_deviceChangeExceptions" use="optional" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_deviceChangeLog">
		<xs:annotation>
			<xs:documentation>Device Change Log Record Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_logClassRecord">
				<xs:sequence>
					<xs:element ref="g2s:authorizeStatusList" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="configurationId" type="g2s:t_configurationId" use="required"/>
				<xs:attributeGroup ref="g2s:p_configChangeStatus"/>
				<xs:attribute name="changeException" type="g2s:t_deviceChangeExceptions" use="optional" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="c_deviceChangeLogList">
		<xs:annotation>
			<xs:documentation>Device Chnage Log List Data Type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="g2s:c_baseCommand">
				<xs:sequence>
					<xs:element ref="g2s:deviceChangeLog" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Device Status Commands.-->
	<xs:element name="setDeviceConfigState">
		<xs:annotation>
			<xs:documentation>Set Device Configuration State.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_setDeviceState">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDeviceConfigStatus">
		<xs:annotation>
			<xs:documentation>Device Configuration Status Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_baseCommand">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceConfigStatus">
		<xs:annotation>
			<xs:documentation>Current Device Configuration Status.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_configDeviceStatus">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Change Device Configuration Commands.-->
	<xs:element name="deviceOperation">
		<xs:annotation>
			<xs:documentation>Device Operation Item.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceOperationItem">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceOperationList">
		<xs:annotation>
			<xs:documentation>Device Operation List.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceOperationList">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="setDeviceChange">
		<xs:annotation>
			<xs:documentation>Set Device Change Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_setDeviceChange">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelDeviceChange">
		<xs:annotation>
			<xs:documentation>Cancel Device Change Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeTrans">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorizeDeviceChange">
		<xs:annotation>
			<xs:documentation>Authorize Device Change Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeTrans">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceChangeStatus">
		<xs:annotation>
			<xs:documentation>Device Change Request Status.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeStatus">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceChangeStatusAck">
		<xs:annotation>
			<xs:documentation>Device Change Receipt Acknowledgement.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeTrans">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Device Configuration Log Commands.-->
	<xs:element name="getDeviceChangeLogStatus">
		<xs:annotation>
			<xs:documentation>Device Change Log Status Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_baseCommand">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceChangeLogStatus">
		<xs:annotation>
			<xs:documentation>Current Device Change Log Status.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_logStatus">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDeviceChangeLog">
		<xs:annotation>
			<xs:documentation>Device Change Log Request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_logRequest">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceChangeLog">
		<xs:annotation>
			<xs:documentation>Device Change Log Record.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeLog">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deviceChangeLogList">
		<xs:annotation>
			<xs:documentation>Device Change Log List.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_deviceChangeLogList">
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Class Wrapper.-->
	<xs:element name="deviceConfig">
		<xs:annotation>
			<xs:documentation>Device Configuration Class.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_baseClass">
					<xs:choice minOccurs="0">
						<xs:element ref="g2s:setDeviceConfigState"/>
						<xs:element ref="g2s:getDeviceConfigStatus"/>
						<xs:element ref="g2s:deviceConfigStatus"/>
						<xs:element ref="g2s:setDeviceChange"/>
						<xs:element ref="g2s:cancelDeviceChange"/>
						<xs:element ref="g2s:authorizeDeviceChange"/>
						<xs:element ref="g2s:deviceChangeStatus"/>
						<xs:element ref="g2s:deviceChangeStatusAck"/>
						<xs:element ref="g2s:getDeviceChangeLogStatus"/>
						<xs:element ref="g2s:deviceChangeLogStatus"/>
						<xs:element ref="g2s:getDeviceChangeLog"/>
						<xs:element ref="g2s:deviceChangeLogList"/>
						<xs:any namespace="##other" processContents="lax"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
