xsd_Examples1/g2sGamePlayExtA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Ethan Tower (private) -->
<xs:schema xmlns:g2sA="http://www.gamingstandards.com/g2s/schemas/v1.0.3/ExtA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:g2s="http://www.gamingstandards.com/g2s/schemas/v1.0.3" targetNamespace="http://www.gamingstandards.com/g2s/schemas/v1.0.3/ExtA" elementFormDefault="qualified" attributeFormDefault="qualified" version="2010-09-13 v1.0.4">
	<xs:import namespace="http://www.gamingstandards.com/g2s/schemas/v1.0.3" schemaLocation="g2sIncludeConfig.xsd"/>
	<xs:attributeGroup name="p_gamePlayProfileExtA">
		<xs:annotation>
			<xs:documentation>Min/Max Payback Percentages Extension in v1.0.4.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="maxPaybackPct" type="g2s:t_meterValue" use="optional" default="0"/>
		<xs:attribute name="minPaybackPct" type="g2s:t_meterValue" use="optional" default="0"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="p_setGamePlayStateExtA">
		<xs:annotation>
			<xs:documentation>Configuration Mode Extensions in v1.0.4.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="applyCondition" type="g2s:t_applyConditions" use="optional" default="G2S_disable"/>
		<xs:attribute name="disableCondition" type="g2s:t_disableConditions" use="optional" default="G2S_idle"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="p_gamePlayStatusExtA">
		<xs:annotation>
			<xs:documentation>Configuration Mode Extensions in v1.0.4.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="egmLocked" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="p_setActiveDenomsExtA">
		<xs:annotation>
			<xs:documentation>Configuration Mode Extensions in v1.0.4.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="applyCondition" type="g2s:t_applyConditions" use="optional" default="G2S_disable"/>
		<xs:attribute name="disableCondition" type="g2s:t_disableConditions" use="optional" default="G2S_idle"/>
	</xs:attributeGroup>
	<!--End of Extension-->
</xs:schema>
