xsd_Examples1/igtBonus-EBG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:g2s="http://www.gamingstandards.com/g2s/schemas/v1.0.3" xmlns:igtEBG="http://g2s.igt.com/bonus/ebg/v1.0.0" targetNamespace="http://g2s.igt.com/bonus/ebg/v1.0.0" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.4">
  <xs:import namespace="http://www.gamingstandards.com/g2s/schemas/v1.0.3" schemaLocation="g2sIncludeGlobal.xsd"/>
  <xs:simpleType name="t_bonusId">
    <xs:annotation>
      <xs:documentation>Copied from g2sBonus.xsd to prevent a circular reference error</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="t_ebgBonusPayMethods">
    <xs:annotation>
      <xs:documentation>Copied from g2sBonus.xsd to prevent a circular reference error</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="G2S_payAny" />
      <xs:enumeration value="G2S_payCredit" />
      <xs:enumeration value="G2S_payHandpay" />
      <xs:enumeration value="G2S_payVoucher" />
      <xs:enumeration value="G2S_payWat" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_ebgStatusCodes">
    <xs:annotation>
      <xs:documentation>EBG Bonus states</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="IGT_normalPlay" />
      <xs:enumeration value="IGT_ebgPending" />
      <xs:enumeration value="IGT_ebgActive" />
      <xs:enumeration value="IGT_ebgComplete" />
      <xs:enumeration value="IGT_ebgFailed" />
    </xs:restriction>
  </xs:simpleType>
	<xs:attributeGroup name="p_bonusAwardExtensions">
		<xs:attribute name="ebgTimeout" type="g2s:t_milliseconds" use="optional" default="0"/>
		<xs:attribute name="ebgGameWin" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="ebgGamePlayDeviceId" type="g2s:t_deviceId" use="optional" default="-1"/>
	</xs:attributeGroup>
  <xs:attributeGroup name="p_bonusProfileExtensions">
    <xs:annotation>
      <xs:documentation>If this flag is not set, the host MUST NOT send the ebgURILinkList in the setBonusAward command.</xs:documentation>
    </xs:annotation>
    <xs:attribute default="false" name="ebgModeAvailable" type="xs:boolean" use="optional" />
  </xs:attributeGroup>
	<xs:attributeGroup name="p_commitBonusExtensions">
	  <xs:attribute default="false" name="ebgGameWin" type="xs:boolean" use="optional"/>
	  <xs:attribute default="-1" name="ebgGamePlayDeviceId" type="g2s:t_deviceId" use="optional"/>
	  <xs:attribute default="0" name="ebgGamePlayPaidAmt" type="g2s:t_meterValue" use="optional"/>
	</xs:attributeGroup>
  <xs:attributeGroup name="p_bonusLogExtensions">
    <xs:annotation>
      <xs:documentation>extends bonusLog element</xs:documentation>
    </xs:annotation>
    <xs:attribute default="IGT_normalPlay" name="ebgState" type="igtEBG:t_ebgStatusCodes" use="optional"/>
    <xs:attribute default="false" name="ebgGameWin" type="xs:boolean" use="optional"/>
    <xs:attribute default="-1" name="ebgGamePlayDeviceId" type="g2s:t_deviceId" use="optional"/>
    <xs:attribute default="0" name="ebgGamePlayPaidAmt" type="g2s:t_meterValue" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="p_exitBonusAward">
    <xs:annotation>
      <xs:documentation>Bonus Win Parameters for exitExternalBonusGameMode.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="bonusId" type="igtEBG:t_bonusId" use="required" />
    <xs:attribute name="transactionId" type="g2s:t_transactionId" use="required" />
    <xs:attribute name="bonusAwardAmt" type="g2s:t_meterValue" use="required" />
    <xs:attribute name="creditType" type="g2s:t_creditTypes" use="optional"/>
    <xs:attribute name="payMethod" type="igtEBG:t_ebgBonusPayMethods" use="optional"/>
    <xs:attribute name="expireCredits" type="xs:boolean" use="optional"/>
    <xs:attribute name="expireDateTime" type="xs:dateTime" use="optional"/>
  </xs:attributeGroup>
	<xs:attributeGroup name="p_getSeePays">
		<xs:attribute name="themeId" type="g2s:t_themeId" use="required"/>
		<xs:attribute name="paytableId" type="g2s:t_paytableId" use="required"/>
	</xs:attributeGroup>
  <xs:element name="exitExternalBonusGameMode">
    <xs:annotation>
      <xs:documentation>This command closes the external bonus window and initiates the award of any bonus credits</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="g2s:c_baseCommand">
          <xs:attributeGroup ref="igtEBG:p_exitBonusAward" />
          <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ebgURILink">
    <xs:annotation>
      <xs:documentation>An EBG URI, the content is loaded into the player specified by the targetActorId</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="URI" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="targetActorId" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
			<xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ebgURILinkList">
    <xs:annotation>
      <xs:documentation>Optional list of EBG URIs to extend the setBonusAward command</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="igtEBG:ebgURILink" />
      </xs:sequence>
      <xs:attribute name="timeout" type="g2s:t_milliseconds" use="required" />
			<xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
  </xs:element>
	<xs:element name="getSeePays">
		<xs:annotation>
			<xs:documentation>EGM requests a bonus pay-outs URI for the specified theme and paytable</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_baseCommand">
					<xs:attributeGroup ref="igtEBG:p_getSeePays"/>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="seePays">
		<xs:annotation>
			<xs:documentation>Host responds to getSeePays with a URI to the bonus pay-outs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="g2s:c_baseCommand">
					<xs:attribute name="URI" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="0"/>
								<xs:maxLength value="256"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:anyAttribute namespace="##other" processContents="lax"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>